.PatientProfileCard {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(1, 22, 39, 0.2),
    0 6px 20px 0 rgba(1, 22, 39, 0.19);
  text-align: center;
  border-radius: 10px;
  background-color: #fdfffc;
  padding: 1px;
}

.PatientProfileCard img {
  border-radius: 50%;
  max-width: 100%;
}

.Image {
  padding: 40px;
  padding-bottom: 20px;
}

.PatientProfileCard h4 {
  margin-top: 0;
}
