.CardContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(160px, 1fr));
  gap: 32px;
}

.link {
  text-decoration: none;
}

/* @media (maxwidth: 550px) {
  .CardContainer {
    grid-template-columns: 1fr;
  }
} */
