.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: #011627;
  padding: 2em 1em;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

@media (min-width: 769px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

.Logo {
  height: 6%;
  margin-bottom: 2em;
}
