.Background {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.White {
  background-color: #fdfffc;
  height: 35vh;
}

.Red {
  height: 100vh;
  background-color: #e71d36;
}
